<div class="example3">
	<nav class="navbar  navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/home"><img src="./src/images/HSBC-logo.svg" alt="HSBC Logo">
				</a>
			</div>
			<div id="navbar3" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
 					<li><a href="#">Bulk Upload</a></li>
					<li><a href="#">Master Group</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Prerit M <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>
</div>

<!--

<div class="homepage-wrapper container col-md-12 col-lg-12">
	<div class="col-md-12 col-lg-12">
		<h2 class="apptext">Robotic Process Automation</h2>
	</div>
	<div class="col-md-12 col-lg-12">
		<div class="col-md-3 col-lg-3">
			<P style="color: white;">Welcome {{userData.firstName}}
				{{userData.lastName}} !</P>
		</div>
		<div class="col-md-7 col-lg-7">
			<span style="color: white;">Company ID : {{userData.cmpID}}</span>
		</div>
		<div class="col-md-2 col-lg-2">
			<a ng-click="logout()"><span
				style="color: white; cursor: pointer;"
				class="glyphicon glyphicon-log-out pull-right"></span></a>
		</div>
	</div>
</div>
<div class="container-fluid col-md-12 col-lg-12"
	style="background-color: #e0e0e0;" ng-init="tab = 'tab1'">
	<ul class="nav nav-tabs" style="margin-top: 1rem;">
		<li class="active" data-toggle="tab"><a ng-click="tab = 'tab1';"
			ui-sref=".datavalidation">DATA VALIDATION</a></li>
		<li data-toggle="tab"><a
			ng-click="tab = 'tab2'; processAutoClick();">PROCESS AUTOMATION</a></li>
		<li data-toggle="tab"><a
			ng-click="tab = 'tab3'; workbooktoXML();">WORKBOOK TO XML</a></li>
	</ul>
	<div class="tab-content">
		<div id="tabview" ui-view></div>
	</div>
	<div>
		<footer>
			<center>
				<p>Copyright &copy 2017 Accenture Solutions. All rights reserved.</p>
			</center>
		</footer>
	</div>
</div>-->
