body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #909090;
}

a.active{
    font-weight:bold;
}

.thumbnail .caption {
    padding: 20px;
    color: #333;
}
/*praveen*/
.alert 
{
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.glyphicon-padding-right
{
        padding-right: 0.7rem;
}
.glyphicon-email
{
    margin-right: 10px;
    color: #f47e36;
    vertical-align: middle;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 5px;
    line-height: 1.4;
    height: 110px;
    background-color: antiquewhite;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.panel-margin-top{
    margin-top: 20px;
}
.homepage-wrapper
{
    background-clip: padding-box;
    background: url(../../src/images/homepage-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93px;
}

.nav-tabs {
    border-bottom: 1.8px solid #f9c23a;
}

.wrapper {
    background-clip: padding-box;
    background: url(../../src/images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(148, 98, 34, 0.61);
	background-blend-mode: color-burn;
	height: 660px;
}
.home-header-image
{
	background-clip: padding-box;
    background: url(../../src/images/homepage-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(148, 98, 34, 0.61);
	background-blend-mode: color-burn;
	height: 8rem;
}

.apptext
{
	color: whitesmoke;
}

.login-box-heading
{
	margin-top:2rem;
	margin-bottom: 2rem;
	padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.login-input-text
{
	border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-left-width: 0px;
    border-bottom-style: solid;
    border-color: rgba(11, 57, 243, 0.54);
    border-radius: 0px;
}
.login-panel
{
	background-color: rgba(0, 0, 0, 0.73);
	padding-bottom: 4rem;
}
.login-heading-div
{
	background-color: rgba(239, 84, 14, 0.46);
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 10rem;
    padding-bottom: 2rem;
}
.submit-button
{
	width: 100%;
    margin-top: 1rem;
}

.ngdialog {
    position: fixed;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.panel-default
{
	border-color: #ddd;
    min-height: 470px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #f9c23a;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.padding-top-0
{
    padding-top: 0px;
}

.glyphicon-padding-right {
    padding-right: 0.7rem;
    padding-left: 3rem;
}

.glyphicon {
    position: static;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.steps-indicator.steps-3 li 
{
	
    margin-top: 6rem;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 0;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
/**------------------------- 
Search box style setting z-index to 0
**/
.input-group .form-control {
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    margin-bottom: 0;
}


/**------------------------------------------------------------------ 
animation classes here
--------------------------------------------------------------------- **/

.ng-enter 
{
	/* transition on enter for .5s */
	transition: 1s;
	/* start with opacity 0 (invisible) */
	opacity: 0;
}

/* end 'enter' transition */
.ng-enter-active 
{
	/* end with opacity 1 (fade in) */
	opacity: 1;
}


main.ng-enter 
{
	/* transition on enter for .5s */
	transition: 2.5s;
	/* start with opacity 0 (invisible) */
	opacity: 0;
}

/* end 'enter' transition */
main.ng-enter-active 
{
	/* end with opacity 1 (fade in) */
	opacity: 1;
}

main .view-side-form .side-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main .view-side-form .side-form .content {
    position: inherit;
    z-index: 1200;
    margin-top: 10rem;
    margin-right: 7rem;
    right: 0;
    width: 89%;
    height: 77%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}

main .view-side-form .side-form .background {
    background: #000;
    z-index: 1000;
    opacity: .5;
    height: 80%;
    margin-top: 9rem;
    margin-left: 7rem;
    right: 0;
    width: 83.33%;
}

main .view-side-form.ng-enter,
main .view-side-form.ng-leave {
  /* transition on enter and leave for .5s */
  transition: .5s;
}
main .view-side-form.ng-enter .side-form .content {
  /* start with content 80% off the right of the page */
  right: -80%;
}
main .view-side-form.ng-enter .side-form .background {
  /* start with background opacity 0 (invisible) */
  opacity: 0;
}
main .view-side-form.ng-enter-active .side-form .content {
  /* transition the right position which 
                       slides the content into view */
  transition: right .5s;
  /* end with content aligned to the right of the page */
  right: 0;
}
main .view-side-form.ng-enter-active .side-form .background {
  /* transition the background opacity to fades it in */
  transition: opacity .5s;
  /* end with background opacity 0.8 to give the overlay effect */
  opacity: .8;
}
main .view-side-form.ng-leave-active .side-form .content {
  /* transition the right position which 
                       slides the content out of view */
  transition: right .5s;
  /* end transition with the content completely off the page */
  right: -100%;
}
main .view-side-form.ng-leave-active .side-form .background {
  /* transition the background opacity to fades it out */
  transition: opacity .5s;
  /* end with background opacity 0 to hide it */
  opacity: 0;
}


/**---------------------------------------------------------------------------**/
.spinner {
  margin-top:10px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.spinner > div {
  background-color: #FF9800;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/**---------------------------------------------------**/
.process-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
    font-weight: bold;
}

.process-panel-info>.process-panel-heading {
    color: #003c26;
    background-color: rgba(255, 224, 148, 0.49);
    font-weight: normal;
}

.process-panel-heading {
    padding: 8px 15px;
    background-color: #E0E0E0;
}

.process-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: normal;
}
.process-glyphicon {
    position: static;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;
    padding-right: 5px;
}

.process-label-number 
{
	padding-right: 8px;
    margin-left: 6px;
}

.process-panel-body 
{
    max-height: 300px;
    overflow: overlay;
    padding-left: 5px;
}  

/*admin css start here */
*:focus{
			outline:none; /* Prevents blue border in Webkit */
		}

		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*  */
		}
		p {
			line-height: 1.6;
		}

		
		
		textarea {
				min-height:200px;
		}

		input:focus, textarea:focus {
			-webkit-box-shadow:0 0 25px #ccc;
			-moz-box-shadow:0 0 25px #ccc;
			box-shadow:0 0 25px #ccc;
			
			-webkit-transform: scale(1.00);
			-moz-transform: scale(1.00);
			transform: scale(1.00);
		}
		
		/* The interesting bit */
		
		/*input:not(:focus), textarea:not(:focus) {
			opacity:0.5;
		}
		*/
		/* input:required, textarea:required {
			background:url("images/asterisk_orange.png") no-repeat 280px 7px;						
		} */

		input:valid, textarea:valid {
			    
    background: #fff;
  	
		}		

		input:focus:invalid, textarea:focus:invalid {
			/*background:url("images/not_valid.png") no-repeat 280px 7px #fff; 						*/
		}

		input[type=submit] {
       padding: 10px;
    background: #2d8fb5;
    opacity: 1.0;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 2px #105065;
}
		
/*  theme one */

body {
  
    background-size: 67%;
    background-color: #f4f5f7;
    background-repeat: no-repeat;
    background-position: bottom left;
}
#top_bit {
        width: 330px;
    padding: 20px;
    background: #3baeda;
    color: #fff;
    box-shadow: 10px 0px 0px #e5e6e8;

}
    }
input[type=submit] {
    padding: 10px;
    background: #2fc6f7;
    opacity: 1.0;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 2px #105065;
}
input[type=submit]:hover {background: #176e90; cursor: pointer}

.regi input[type="text"], .regi input[type="password"],  .regi input[type="email"], textarea, select {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#fff;
    border:none;
	font-size:12px;
	width:290px;
	min-height:30px;
	display:block;
	margin-bottom:16px;
	margin-top:8px;	
    padding-left: 10px;
    color: #000;
            
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
            
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
		}

 

.line {    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 24px;
    margin-bottom: 15px;}
.regi label {font-size: 14px; color: #fff;}
.regi_btn {background: #337ab7;}

/*-----Add user css end ---*/

