
/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.example3 a {
    color: #252525;
}

nav{
    background: #fff;
}

.navbar-brand img {
    width: 100px;
    height: 25px;
    margin-top: 14px;
}

.navbar{
    border-bottom: 1px solid #D7D8D6;
}

.nav>li>a {

    border-right: 1px solid #f3f3f3;
}

.nav>li:last-child > a {
    border: none;
}

.main-nav{
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}


body{
    background: #fff;
}


/*Button*/

.btn-primary {
    color: #fff;
    background-color: #db0011;
    border-color: transparent;
    border-radius: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a8000b;
    border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #a8000b;
    border-color: transparent;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #a8000b;
    border-color: transparent;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #a8000b;
    border-color: transparent;
}



.profile_button{
    margin: 20px 0 0 50px;
}

.profile_button button{
    display: inline-block;
    padding: 11px 20px;
     color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}




.page-head{
    background: url(../../src/images/header.jpeg);
    background-size: cover;
    height: 150px;
    background-position: center;
    color: #FFF;
    z-index: 0;
}

.page-head a {
    color: #FFF;
}

.page-head h1 {
    margin-top: 0;
}

.page-head .breadcrumb {
    background: transparent;
    padding: 8px 0;
    margin-bottom: 5px;
    margin-top: 20px;

}

.page-head .breadcrumb>.active {
    color: #D7D8D6;
}


.mask{
    height: 100%;
    background: rgba(219, 0, 17, 0.4);

}


/* ===================== FILE INPUT ===================== */
.file-area {
    width: 100%;
    position: relative;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background: #253028;
    color: #FFF;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    text-align: center;
    transition: background 0.3s ease-in-out;
    margin-bottom: 10px;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    background: #252525;
}
.file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 133, 128, 1);
    background-color: rgba(0, 133, 128, 0.9);
    color: #fff;
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}

/* ===================== BASIC STYLING ===================== */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*html,*/
/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-weight: 300;*/
    /*height: 100%;*/
    /*background: #053777;*/
    /*color: #fff;*/
    /*font-size: 16px;*/
    /*overflow: hidden;*/
/*}*/

h1 {
    text-align: center;
    margin: 50px auto;
    font-weight: 100;
}

label {
    font-weight: 500;
    display: block;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 13px;
    overflow: hidden;
}
label span {
    float: right;
    text-transform: none;
    font-weight: 200;
    line-height: 1em;
    font-style: italic;
    opacity: 0.8;
}
/*

.form-control {
    display: block;
    padding: 8px 16px;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: 200;
}
.form-controll:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}
*/

/*button {*/
    /*padding: 8px 30px;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*color: #053777;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    /*font-size: 11px;*/
    /*border: 0;*/
    /*text-shadow: 0 1px 2px #fff;*/
    /*cursor: pointer;*/
/*}*/

/*.form-group {*/
    /*max-width: 500px;*/
    /*margin: auto;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.back-to-article {*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-size: 12px;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*background: rgba(0, 0, 0, 0.6);*/
    /*padding: 10px 18px;*/
    /*transition: all 0.3s ease-in-out;*/
    /*opacity: 0.6;*/
/*}*/
/*.back-to-article:hover {*/
    /*opacity: 1;*/
    /*background: rgba(0, 0, 0, 0.8);*/
/*}*/
