<div class="container-fluid col-md-12 col-lg-12" style="margin-top:1rem; background-color: #E0E0E0;">
	<div class="panel-default" style="background-color: #E0E0E0;">
		<div class="panel-body" style="padding-left: 5px;">
			<div class="col-lg-12 col-md-12">
				<div class="list-group col-lg-3 col-md-12 col-sm-12">
					<span id="link1" class="list-group-item" ui-sref=".emailprocess"><span class="glyphicon glyphicon-envelope glyphicon-email"></span><a href="">Email Template Creation</a></span>
					<span id="link2" class="list-group-item" ui-sref=".managePermission"><span class="glyphicon glyphicon-user glyphicon-email"></span><a href="">Manage Permission Group</a></span>
					<span id="link2" class="list-group-item" ui-sref=".manageRoles"><span class="glyphicon glyphicon-user glyphicon-email"></span><a href="">Manage Permission Roles</a></span>
				</div>
				<div class="col-lg-9 col-md-12 col-sm-12" ui-view></div>
			 </div>
		</div>
	</div>
</div>